

<div class="productDetail">

  <div class="productDetail-left">

    <div class="productDetail-left-bigImage">
        <%= image_tag("https://ww4.sinaimg.cn/large/006tNbRwgy1fd9zvksktzj30bo0boweg.jpg", class: "thumbnail") %>
    </div>

    <div class="productDetail-left-imageList">
      <div class="productDetail-left-imageList-item">
        <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fd9zy8rezlj30200200od.jpg" alt="pic1">
      </div>
      <div class="productDetail-left-imageList-item">
        <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fd9zy8d3n3j30200200kg.jpg" alt="pic1">
      </div>
      <div class="productDetail-left-imageList-item">
        <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fd9zy6l5nvj30200200ll.jpg" alt="pic1">
      </div>
      <div class="productDetail-left-imageList-item">
        <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fda00bgorij30200200oo.jpg" alt="pic1">
      </div>
      <div class="productDetail-left-imageList-item productDetail-left-imageList-lastItem">
        <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fda00iqam0j30200200ox.jpg" alt="pic1">
      </div>
    </div>

  </div>

  <div class="productDetail-right">
    <div class="productDetailcontent">
      <h2> <%= @product.title %> <span style="font-size:15px;font-color:#E0E0E0">商品货号 BAJ00016-1</span></h2>

      <div>
        <p style="line-height:100px;height:100px;font-size:20px;border-bottom:2px solid #EEEEEE">
          价格   <strong style="color:#e57373">￥<%= @product.price %></strong>
        </p>
      </div>

      <div> 库存   <%= @product.quantity %> </div>

      <div class="pull-left" style="margin:10px 0;">

        <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post,:class => "btn btn-primary btn-lg btn-danger") %>
        <% else %>
          此商品已售罄，无法购买，出门左转，欢迎下次再来
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="productDecription">

  <div class="productDecription-menuList">
    <div class="productDecription-menuList-item">商品详情</div>
  </div>

  <div class="productDecription-content">
      <img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fda00238k1j30m82ilq50.jpg" alt="照骗">
  </div>

</div>
